*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container-careerform {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh; /* This ensures the container takes the full height of the viewport */
    overflow: hidden; /* This hides any overflow from the image */
    margin: 0px;
    
  }

  .main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    position: relative;
    z-index: 1; /* Ensures the main-div is above the image */
    animation: fadeIn 2s ease-in-out;
    border-radius: 10px;
    padding: 10px;
  }

  .section-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.form-title {
    text-align: center;
    color: white;
    margin: 20px;
}

input[type="file"]{
    display: none;
}

.file-label{
    display: inline-block;
    text-align: center;
    color: #416392;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}

.file-name{
    color: white;
}

.file-label:hover{
    color: white;
    background-color: #416392;
}


.row-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.form-label {
    margin-bottom: 0.5rem;
    color: white;
}

.check-label{
    color: white;
}


.form-input,
.form-textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #416392;
    color: #416392;
    border-radius: 8px;
    text-indent: 2px;
    width: 400px;
    height: 40px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-input::placeholder,
.form-textarea::placeholder {
    color: #416392;
}

.form-input.active::placeholder,
.form-textarea.active::placeholder {
    color: #fff;
}

.form-input.active,
.form-textarea.active {
    background-color: #416392;
    color: #fff;
    border-color: #fff;
}

.form-button {
    padding: 0.5rem;
    border-color: #416392;
    color: #416392;
    border: 1px solid #416392;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 1rem;
    width: 100px;
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.checks-div{
    display: flex;
    flex-direction: column;
    padding: 0px 7px;
}

.row-checks-div{
    display: flex;
    flex-direction: row;
    margin: 5px 0px; 
}

.check-label{
    margin: 0px 5px;
}

.form-button:hover {
    background: #416392;
    color: #fff;
}

.error {
    width: 300px;
    height: 40px;
    background-color: #416392;
    color: white;
    display: none;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 20px;
    right: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



@media (max-width: 960px) {
    .form-input,
    .form-textarea {
        margin-bottom: 1rem;
        padding: 0.5rem;
        border: 1px solid #416392;
        color: #416392;
        border-radius: 8px;
        text-indent: 2px;
        width: 180px;
        height: 35px;
    }

    .form-title{
        margin: 10px;
    }


    .error {
        width: 240px;
    }
}

