#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Background color */
    color: #fff; /* Text color */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure it's on top */
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
}

.loader-fading {
    opacity: 1;
    animation: fadeOut 1.5s forwards;
    animation-delay: 2.5s; /* Delay the fade-out by 3 seconds */
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents scrollbars */
  }
  
  #textparticle {
    display: block;
    width: 100%;
    height: 100%;
  }

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
